div.box{
    background-color: #A5E887;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px;
    transition: linear 0.2s;
    width: 100%;
}

    div.box:hover{
        background-color: #B5F897;
        transform: scale(101%);
    }

h1.home{
    font-size: 24px;
}

h2.home{
    font-size: 20px;
    font-weight: normal;
}

img.home{
    height: 400px;
    object-fit: cover;
    width: 400px;
}

p.home{
    font-weight: bold;
    font-size: 16px;
}