@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a.conta{
    color: #272727;
    text-decoration: underline;
    transition: linear 0.2s;
}

    a.conta:hover{
        color: #000000;
    }

a.alimento-no{
    color: #272727;
    font-size: 15px;
    text-decoration: underline;
    transition: linear 0.2s;
}

    a.alimento-no:hover{
        color: #000000;
    }

body{
    width: 100%;
}

button.alimento-edit{
    background-color: transparent;
    border: none;
    color: #272727;
    cursor: pointer;
    font-size: 13px;
    width: 142px;
}

button.header{
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

button.info{
    background-color: transparent;
    background-image: url(../img/misc/fechar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
    border: none;
    cursor: pointer;
    height: 35px;
    position: absolute;
    width: 35px;
}

div.admin-op{
    background-color: #E9FFD9;
    border: 1px solid #77FF44;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    padding: 8px;
    transition: linear 0.2s;
    width: 45%;
}

    div.admin-op:hover{
        background-color: #F6F6F6;
    }
    div.admin-op:hover img.admin{
        filter: brightness(150%);
    }

div.adm-form{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

div.alimento-linha{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

div.alimento-down{
    background-color: #88FF55;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    transition: linear 0.1s;
}

    div.alimento-down:hover{
        background-color: #77FF44;
    }

div.body{
    display: flex;
}

div.conta-body{
    background-color: #F9F9F9;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    width: 500px;
}

div.conta-form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 75%;
}

div.conteudo{
    background-color: #FDFDFD;
    height: 89vh;
    overflow: auto;
    padding: 48px 0;
    width: 100%;
}

div.conteudo-body{
    background-color: #FBFBFB;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    padding: 32px;
    width: 75%;
}

div.file{
    background-color: #88FF55;
    background-image: url(../img/misc/edit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    margin-left: 100px;
    margin-top: -56.4px;
    position: absolute;
    transition: linear 0.2s;
    width: 50px;
}

    div.file:hover{
        background-color: #77FF44;
    }

div.header{
    background-color: #F9F9F9;
    display: flex;
    height: 72px;
    justify-content: space-between;
    padding: 16px 32px;
}

div.header-block{
    cursor: pointer;
    transition: linear 0.2s;
}

    div.header-block:hover{
        background-color: #F6F6F6;
    }

div.header-direita{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

div.header-esquerda{
    display: flex;
    justify-content: space-between;
    width: 100px;
}

div.header-noti{
    background-color: #F0F0F0;
    display: none;
    height: max-content;
    margin-left: 74%;
    max-height: 500px;
    overflow: auto;
    padding: 16px;
    position: absolute;
    width: 25%;
    z-index: 5;
}

div.header-perfil{
    background-color: #F0F0F0;
    display: none;
    height: max-content;
    margin-left: 84%;
    overflow: auto;
    position: absolute;
    width: 15%;
    z-index: 5;
}

div.info{
    background-color: #88FF55;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    text-align: center;
    width: 300px;
}

div.info-body{
    background-color: #F0F0F0;
    overflow: auto;
    position: fixed;
    right: 0;
    height: 89%;
    width: 30%;
    z-index: 100;
}

div.msg{
    background-color: #E9FFD9;
    border: 1px solid #77FF44;
    border-radius: 5px;
    margin-top: 8px;
    padding: 8px;
    text-align: center;
    transition: visibility 1s, opacity 0.5s linear;
    width: 100%;
}

div.paginas{
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    padding: 8px;
}

div.pesquisa{
    background-color: #F0F0F0;
    border-radius: 5px;
    padding: 8px;
}

div.shadow{
    background-color: #000000;
    height: 100%;
    opacity: 20%;
    overflow: auto;
    position: fixed;
    width: 100%;
    z-index: 99;
}

div.side{
    background-color: #F0F0F0;
    height: 89vh;
    overflow: auto;
    width: 18%;
}

div.side-cell{
    border-bottom: 2px solid #F6F6F6;
    display: flex;
    cursor: pointer;
    padding: 16px;
    transition: linear 0.2s;
}

    div.side-cell:hover{
        background-color: #F6F6F6;
    }

    div.side-cell:hover img.side{
        filter: brightness(150%);
    }

h1.admin{
    color: #272727;
    font-size: 28px;
    padding-left: 16px;
}

h1.conta{
    color: #272727;
    font-size: 30px;
    text-align: center;
}

h1.info{
    color: #272727;
    font-size: 20px;
    padding: 2px;
    text-align: center;
}

h1.noti{
    color: #272727;
    font-size: 16px;
}

h2.admin{
    color: #272727;
    font-weight: normal;
    font-size: 18px;
}

h2.ali{
    color: #FBFBFB;
    font-size: 18px;
    font-weight: normal;
}

h2.conta{
    color: #000000;
    font-size: 17px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    text-align: center;
    width: 60%;
}

h3.conta{
    color: #272727;
    font-size: 16px;
    font-weight: normal;
}

img.admin{
    height: 35px;
    transition: linear 0.2s;
    width: 35px;
}

img.adm-form{
    border-radius: 20%;
    height: 200px;
    width: 200px;
}

img.alimento{
    background-color: #FFFFFF;
    border-radius: 5px;
    height: 150px;
    width: 150px;
}

img.conta{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

img.header{
    height: 35px;
    transition: linear 0.2s;
    width: 35px;
}

    img.header:hover{
        filter: brightness(160%);
    }

img.header-logo{
    height: 40px;
    width: 40px;
}

img.header-perfil{
    border-radius: 50%;
    height: 40px;
    transition: linear 0.2s;
    width: 40px;
}

    img.header-perfil:hover{
        filter: brightness(103%);
    }

img.side{
    height: 35px;
    transition: linear 0.2s;
    width: 35px;
}

    img.side:hover{
        filter: brightness(150%);
    }

input.adm{
    background-color: #FBFBFB;
    border: 2px solid #88FF55;
    border-radius: 5px;
    padding: 8px;
    transition: linear 0.2s;
    width: 100%;
}

    input.adm:hover{
        background-color: #E9FFD9;
    }

    input.adm:focus{
        background-color: #E9FFD9;
        outline: none;
    }

input.conta{
    background-color: #F9F9F9;
    border: none;
    border-bottom: 2px solid #88FF55;
    padding: 8px 2px;
    transition: linear 0.2s;
    width: 100%;
}

    input.conta:hover{
        background-color: #E9FFD9;
    }

    input.conta:focus{
        background-color: #E9FFD9;
        outline: none;
    }

input.file{
    display: none;
}

input.pesquisa{
    background-color: #F0F0F0;
    border: none;
    border-bottom: 2px solid #F9F9F9;
    font-size: 14px;
    padding: 2px;
    width: 100%;
}

    input.pesquisa:focus{
        outline: none;
    }

input.pesquisa-submit{
    background-color: #88FF55;
    background-image: url(../img/misc/pesquisa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    height: 30px;
    position: static;
    transition: linear 0.2s;
    width: 30px;
}

    input.pesquisa-submit:hover{
        background-color: #77FF44;
    }

input.submit{
    background-color: #88FF55;
    border: none;
    color: #272727;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    transition: linear 0.2s;
    width: 100%;
}

    input.submit:hover{
        background-color: #77FF44;
    }

label.adm{
    color: #272727;
    font-size: 15px;
}

label.conta{
    color: #272727;
    font-size: 16px;
}

label.conta-radio{
    font-size: 14px;
}


p.admin{
    color: #272727;
    font-size: 14px;
    padding-top: 7px;
}

p.alimento-no{
    color: #272727;
    font-size: 20px;
    text-align: center;
}

p.conta{
    color: #272727;
    font-size: 13px;
}

p.header-noti{
    color: #272727;
    font-size: 14px;
    text-align: center;
}

p.header-perfil{
    color: #272727;
    font-size: 14px;
    padding: 16px;
    text-align: center;
}

p.msg{
    color: #272727;
    font-size: 14px;
    font-weight: bold;
}

p.paginas{
    color: #272727;
    font-size: 14px;
    margin: 0;
}

p.side{
    color: #272727;
    font-size: 14px;
    padding-top: 8px;
    padding-left: 16px;
    vertical-align: center;
}

select.adm{
    background-color: #FBFBFB;
    border: 2px solid #88FF55;
    border-radius: 5px;
    padding: 8px;
    transition: linear 0.2s;
    width: 100%;
}

    select.adm:hover{
        background-color: #E9FFD9;
    }

    select.adm:focus{
        background-color: #E9FFD9;
        outline: none;
    }

select.conta{
    background-color: #F9F9F9;
    border: 2px solid #F9F9F9;
    border-bottom: 2px solid #88FF55;
    padding: 8px 2px;
    transition: linear 0.2s;
    width: 100%;
}

    select.conta:hover{
        background-color: #E9FFD9;
    }
    select.conta:focus{
        background-color: #E9FFD9;
        outline: none;
    }

select.pesquisa{
    background-color: #F0F0F0;
    border: 2px solid #F0F0F0;
    border-bottom: 2px solid #F9F9F9;
    cursor: pointer;
    padding: 2px;
    width: 100%;
}

    select.pesquisa:focus{
        outline: none;
    }

textarea.adm{
    background-color: #FBFBFB;
    border: 2px solid #88FF55;
    border-radius: 5px;
    height: 38px;
    max-height: 100px;
    overflow: hidden;
    padding: 8px;
    resize: none;
    width: 100%;
}

    textarea.adm:hover{
        background-color: #E9FFD9;
    }

    textarea.adm:focus{
        background-color: #E9FFD9;
        outline: none;
    }

textarea.info{
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    color: #272727;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    height: 450px;
    padding: 8px;
    resize: none;
    width: 300px;
}